In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [3]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
        SELECT f.name,
               SUM(CASE WHEN m.surname = 'GUEST' THEN (f.guestcost * b.slots)
                        ELSE (f.membercost * b.slots) END) AS total_revenue
        FROM Bookings AS b
        INNER JOIN Facilities AS f USING (facid)
        INNER JOIN Members AS m USING (memid)
        GROUP BY f.name
        HAVING SUM(CASE WHEN m.surname = 'GUEST' THEN (f.guestcost * b.slots)
                        ELSE (f.membercost * b.slots) END) < 1000
        """
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [4]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [5]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
        SELECT m1.surname || ', ' || m1.firstname as member_name, m2.surname || ', ' || m2.firstname as recommender
        FROM Members AS m1
        INNER JOIN Members AS m2
        ON m1.recommendedby = m2.memid
        WHERE m2.surname != 'GUEST'
        ORDER BY m1.surname
        """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [6]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [7]:
# Q12: Find the facilities with their usage by member, but not guests
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query12 = """
        SELECT f.name, COUNT(memid) AS member_uses
        FROM Bookings AS b
        INNER JOIN Facilities AS f USING (facid)
        INNER JOIN Members AS m USING (memid)
        WHERE memid != 0
        GROUP BY f.name
        ORDER BY member_uses DESC
        """
    cur.execute(query12)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [8]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

In [9]:
# Q13: Find the facilities usage by month, but not guests
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query13 = """
        SELECT strftime('%m', starttime) AS month, COUNT(memid) AS monthly_total
        FROM Bookings AS b
        INNER JOIN Facilities AS f USING (facid)
        INNER JOIN Members AS m USING (memid)
        WHERE memid != 0
        GROUP BY month
        """
    cur.execute(query13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [10]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 480)
('08', 1168)
('09', 1512)